{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
    <div class="d-flex custom-gap justify-content-center mt-5">
        <div class="card">
            <h1 class="card-title">ETAT CIVIL DE BASE</h1>
            <div class="card-body">
                <h3><strong>Nom:</strong> {{ profile.nom }}</h3>
                <h3><strong>Prénom:</strong> {{ profile.prenoms }}</h3>
                <h3><strong>Date et lieu de naissance:</strong> {{ user.citizenProfile.dateDeNaissance|date('d/m/Y') }}</h3>
                {% if user.langue == 'MLG' %}
                    <h3><strong>Nationalité:</strong> Malgache</h3>
                {% elseif user.langue == 'FR' %}
                    <h3><strong>Nationalité:</strong> Français</h3>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <h1 class="card-title">COORDONNEES</h1>
            <div class="card-body">
            <h3><strong>Nom:</strong> {{ profile.nom }}</h3>
            <h3><strong>Adresse:</strong> {{ profile.adresse }}</h3>
            <h3><strong>Numéro de téléphone:</strong> {{ user.telephone|format_phone_number }}</h3>
            <h3><strong>Email:</strong> {{ user.email }}</h3>
            <h3><strong>Langue:</strong> {{ user.langue }}</h3>
            </div>
        </div>
    </div>
    <div class="contact-info">
    <br>
    <p>
        Contactez-nous sur: <a href="#">Etaratasy@gmail.com</a> ou par SMS vers <a href="#">034 12 34 56</a>.
    <p>
</div>
{% endblock %}
