{% extends 'couvre.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <style>
        .card {
            width: 35%;
            margin: auto;
            margin-top: 60px;
            background-color: #C5ABAB;
            border-radius: 12px;
            padding: 2rem;
            text-align: center;
        }

        .form-control {
            margin-top: 2rem;
            height: 50px;
        }

        .checkbox {
            margin-top: 3rem;
            margin: 0;
        }
    </style>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <input type="email" value="{{ last_username }}" name="email" id="username" placeholder="Entrez votre email" class="form-control" autocomplete="email" required autofocus>

                <input type="password" name="password" id="password" class="form-control" placeholder="Entrez votre mot de passe" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                <a href="#">Mot de passe oublié ?</a>

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <input type="checkbox" name="_remember_me" id="_remember_me">
                        <label for="_remember_me">Remember me</label>
                    </div>
                #}

                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </form>
        </div>
    </div>
{% endblock %}
