{% extends 'base.html.twig' %}

{% block title %}Liste des Services{% endblock %}

{% block body %}
    <div class="container2">
        <div class="service-table">
            <div class="header2">
                <h1>LISTE DES SERVICES</h1>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Lequel</th>
                        <th>Pièces requises</th>
                        <th>Délais</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-primary">Acte de naissance</td>
                        <td>
                            <div class="piece-item">• Livre de famille</div>
                            <div class="piece-item">• Résidence</div>
                        </td>
                        <td>2 heures</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Acte de mariage</td>
                        <td>
                            <div class="piece-item">• Acte de naissance</div>
                            <div class="piece-item">• Résidence</div>
                            <div class="piece-item">• Acte de célibataire</div>
                        </td>
                        <td>Le jour du mariage</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Acte de décès</td>
                        <td>
                            <div class="piece-item">• Certificat de décès</div>
                            <div class="piece-item">• Pièce d'identité du commandeur</div>
                            <div class="piece-item">• Montantes sur le déficient</div>
                            <div class="piece-item">• Livret de famille</div>
                        </td>
                        <td>24 heures</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="demande-section">
            <div class="demande-header">
                <h1>DEMANDE</h1>
            </div>

            {{ form_start(form) }}

            <div class="form-group">
                <div class="form-field-row ">
                    {{ form_label(form.ref) }}
                    {{ form_widget(form.ref, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.ref) }}
                </div>
                <div class="form-field-row ">
                    {{ form_label(form.demandeurs) }}
                    {{ form_widget(form.demandeurs, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.demandeurs) }}
                </div>
            


                <div class="form-field-row ">
                    {{ form_label(form.statut) }}
                    {{ form_widget(form.statut, {'attr': {'class': 'form-select'}}) }}
                    {{ form_errors(form.statut) }}
                </div>
                <div class="form-field-row ">
                    {{ form_label(form.centre) }}
                    {{ form_widget(form.centre, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.centre) }}
                </div>
            


                <div class="form-field-row ">
                    {{ form_label(form.priorite) }}
                    {{ form_widget(form.priorite, {'attr': {'class': 'form-select'}}) }}
                    {{ form_errors(form.priorite) }}
                </div>
                <div class="form-field-row ">
                    {{ form_label(form.montant) }}
                    {{ form_widget(form.montant, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.montant) }}
                </div>
            


                <div class="form-field-row ">
                    {{ form_label(form.canal) }}
                    {{ form_widget(form.canal, {'attr': {'class': 'form-select'}}) }}
                    {{ form_errors(form.canal) }}
                </div>
{#
                <div class="form-field-row ">
                    {{ form_label(form.attachment) }}
                    {{ form_widget(form.attachment, {'attr': {'class': 'form-select'}}) }}
                    {{ form_errors(form.attachment) }}
                </div>
            


                <div class="form-field-row ">
                    {{ form_label(form.document) }}
                    {{ form_widget(form.document, {'attr': {'class': 'form-select'}}) }}
                    {{ form_errors(form.document) }}
                </div>
                <div class="form-field-row ">
                    {{ form_label(form.task) }}
                    {{ form_widget(form.task, {'attr': {'class': 'form-select'}}) }}
                    {{ form_errors(form.task) }}
                </div>
            

                <div class="form-field-row ">
                    {{ form_label(form.payment) }}
                    {{ form_widget(form.payment, {'attr': {'class': 'form-select'}}) }}
                    {{ form_errors(form.payment) }}
                </div>
                <div class="form-field-row ">
                    {{ form_label(form.decision) }}
                    {{ form_widget(form.decision, {'attr': {'class': 'form-select'}}) }}
                    {{ form_errors(form.decision) }}
                </div>
            </div>
#}
            <button type="submit" class="btn btn-primary">Valider</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
