{% extends 'navAdministration.html.twig' %}

{% block body %}
<style>
    body {
        background: url('../images/1.png') no-repeat center center fixed;
        background-size: cover;
        font-family: Arial, sans-serif;
    }

    .form-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        background-color: rgba(57, 55, 55, 0.7);
        padding: 30px;
        border-radius: 8px;
        width: 70%;
        margin: 0 auto;
    }

    .form-section {
        flex: 1;
        background-color: #817e7eff;
        padding: 20px;
        border-radius: 5px;
        color: #fff;
        height: 14cm;
    }

    .form-section h2 {
        text-align: center;
        margin-bottom: 15px;
        font-size: 18px;
        border-bottom: 1px solid #666;
        padding-bottom: 10px;
    }

    .form-section label {
        font-weight: bold;
    }

    .form-section input, 
    .form-section select {
        width: 100%;
        {# margin-bottom: 10px; #}
        padding: 8px;
        border-radius:4px;
        border: none;
    }

    .submit-container {
        text-align: center;
        {# margin-top: 20px; #}
    }

    .btn-submit {
        background-color: #1e90ff;
        color: white;
        border: none;
        width: 4cm;
        height: 1.5cm;
        border-radius: 6px;
        cursor: pointer;
        font-weight: bold;
    
    }

    .btn-submit:hover {
        background-color: #042f58ff;
    }
</style>
    <h1 class="form-title">Décision</h1>

    {{ form_start(form) }}

    <div class="form-wrapper">
       
        <div class="form-section left">
            <h2>Décision</h2>
            {{ form_row(form.request, {'label': 'Demande associée'}) }} 
            {{ form_row(form.resultat, {'label': 'Résultat'}) }}
            {{ form_row(form.motif, {'label': 'Motif'}) }}
            {{ form_row(form.validePar, {'label': 'Validé par'}) }}
            {{ form_row(form.valideLe, {'label': 'Validé le'}) }}
        </div>

        
        <div class="form-section right">
            <h2>Signature</h2>
            {{ form_row(form.signature.type, {'label': 'Type de signature'}) }}
            {{ form_row(form.signature.scelle, {'label': 'Scellé'}) }}
            {{ form_row(form.signature.certificat, {'label': 'Certificat'}) }}
            {{ form_row(form.signature.horodatage, {'label': 'Horodatage'}) }}
        </div>
    </div>

    <div class="submit-container">
        <button type="submit" class="btn-submit">Enregistrer</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
