{% extends 'navAdministration.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Décision</h1>
        <div class="list-group">
        {% for decision in decisions %}
            <div class="list-group-item list-group-item-action mb-2 shadow-sm">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="mb-1">{{ decision.ref }} - {{ decision.nom }} {{ decision.prenoms }}</h5>
                    {% if decision.resultat == 'Validé' %}
                        <span class="badge bg-success">{{ decision.resultat }}</span>
                    {% else %}
                        <span class="badge bg-danger">{{ decision.resultat }}</span>
                    {% endif %}
                </div>
                <p class="mb-1">{{ decision.motif }}</p>
                <small>Validé par {{ decision.valide_par }} le {{ decision.valide_le|date('d/m/Y H:i') }}</small>
            </div>
        {% else %}
            <div class="list-group-item text-center">Aucune décision trouvée</div>
        {% endfor %}
        </div>
    <div>
{% endblock %}
