{# templates/registration/index.html.twig #}

{% extends 'couvre.html.twig' %}

{% block title %}Inscription & Profil{% endblock %}

{% block body %}
    

    <div class="container-main">
        {# Section Inscription #}
        <div class="form-card">
            <h2 class="form-title">Inscription</h2>
            {{ form_start(formInscription) }}
                {# Email #}
                <div class="form-field-row">
                    {{ form_widget(formInscription.email, {'attr': {'placeholder': 'Entrer votre e-mail'}}) }}
                </div>
                {# Téléphone #}
                <div class="form-field-row">
                    {{ form_widget(formInscription.telephone, {'attr': {'placeholder': 'Entrer votre numéro de téléphone'}}) }}
                </div>
                {# Mot de passe #}
                <div class="form-field-row">
                    {{ form_widget(formInscription.hashMdp, {'attr': {'placeholder': 'Entrer le mot de passe'}}) }}
                </div>
                {# Langue #}
                <div class="form-field-row" style="display: flex; text-align: right;">
                    <label style="margin-right: 15px;">Langue:</label>
                    {{ form_widget(formInscription.langue) }}
                </div>
                {# Langue #}
                <div class="form-field-row" style="display: flex; text-align: right;">
                    <label style="margin-right: 15px;">Role:</label>
                    {{ form_widget(formInscription.roles) }}
                </div>
                <button type="submit" class="btn btn-inscription">S'inscrire</button>
            {{ form_end(formInscription) }}
        </div>
    </div>
{% endblock %}