{% extends 'couvre.html.twig' %}

{% block title %}Inscription & Profil{% endblock %}

{% block body %}
<style>
    .form-card {
        width: 50%;
        padding: 20px;
        border-radius: 10px;
    }

    h2 {
        text-align: center;
    }

    .form-control {
        height: 50px;
        margin-bottom: 1rem;
    }

    .form-group .form-control {
        background-color: white;
    }

    .btn-inscription {
        margin: auto;
    }

    .suivant {
        margin: auto;
    }
</style>

<div class="container-main">
    <div class="form-card">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <h2>Inscription</h2>
        {{ form_start(formInscription) }}
            <div class="row">
                <div class="col">
                    <div class="form-group mt-1">
                        {{ form_widget(formInscription.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrer votre e-mail'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(formInscription.telephone, {'attr': {'class': 'form-control', 'placeholder': 'Entrer votre numéro de téléphone'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(formInscription.hashMdp, {'attr': {'class': 'form-control', 'placeholder': 'Entrer le mot de passe'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(formInscription.langue, {'attr': {'class': 'form-control', 'placeholder': 'Entrer votre langue'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(formInscription.roles, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form_widget(formInscription.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(formInscription.prenoms, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(formInscription.dateDeNaissance, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(formInscription.nin, {'attr': {'class': 'form-control', 'placeholder': 'NIN'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(formInscription.adresse, {'attr': {'class': 'form-control', 'placeholder': 'Adresse'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(formInscription.commune, {'attr': {'class': 'form-control', 'placeholder': 'Commune'}}) }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-inscription">S'inscrire</button>
            <a class="suivant btn btn-primary mt-2" href="{{ path('app_code_validation') }}">Suivant</a>
        {{ form_end(formInscription) }}
    </div>
</div>
{% endblock %}
