{% extends 'base.html.twig' %}

{% block title %}Pièce jointe{% endblock %}

{% block body %}

<div class="pj-container">
    <h2>Pièce jointe</h2>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

    {{ form_row(form.type_piece) }}

    {{ form_row(form.nom_fichier) }}

    {{ form_row(form.hash) }}

    {{ form_row(form.url) }}

    {{ form_row(form.taille) }}

    {{ form_row(form.verif_statut) }}

    <button type="submit">Enregistrer</button>

    {{ form_end(form) }}

    <a href="paiement.html" class="payment-link">Effectuer le paiement</a>
</div>
{% endblock %}